<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hypotenuse</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/hypotenuse.css" />
  </head>
  <body>
    <div class="navigation-wrapper">
      <a href="/">Convert Score</a>
      <a href="/square">Square Root</a>
      <a href="/hypotenuse" class="active">Hypotenuse</a>
    </div>

    <div class="body-wrapper">
      <div class="result-wrapper">
        <h1 id="hypotenuse-h1"></h1>
        <p id="result-p"></p>
      </div>

      <div class="input-wrapper">
        <p class="input-title">Calculate Hypotenuse of a Triangle</p>
        <p class="input-subtitle">
          Input A and B side of the triangle to calculate the C side
          (Hypotenuse). What is hypotenuse?
          <a href="https://en.wikipedia.org/wiki/Hypotenuse">Learn more</a>
        </p>
        <div class="input-field">
          <input
            type="number"
            id="input-a"
            onkeydown="hitEnter(event)"
            placeholder="A"
          />
          <input
            type="number"
            id="input-b"
            onkeydown="hitEnter(event)"
            placeholder="B"
          />
          <button id="input-button" onclick="countHypotenuse()">Convert</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/hypotenuse.js"></script>
  </body>
</html>
