<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Square Root</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/square.css" />
  </head>
  <body>
    <div class="navigation-wrapper">
      <a href="/">Convert Score</a>
      <a href="/square" class="active">Square Root</a>
      <a href="/hypotenuse">Hypotenuse</a>
    </div>

    <div class="body-wrapper">
      <div class="result-wrapper">
        <h1 id="square-h1"></h1>
        <p id="result-p"></p>
      </div>

      <div class="input-wrapper">
        <p class="input-title">Input Number</p>
        <p class="input-subtitle">
          Feed me a number, I'll give you the result.
        </p>
        <div class="input-field">
          <input type="number" id="input" onkeydown="hitEnter(event)" />
          <button id="input-button" onclick="countSquareRoot()">Count</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/js/square.js"></script>
  </body>
</html>
